* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
}

body, input, textarea {
    font-family: 'Rubik', sans-serif;
}

header {
    padding: 16px 0;
    background-color: #009765;
    color: #000000;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #000000;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: #000000;
}

section p {
    margin-bottom: 8px;
}

.city,
.nuggets,
.kansas {
    height: 500px;
    margin-right: 32px;
}

.social-links img {
    height: 32px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

footer {
    background-color: #009765;
    color: #000000;
    padding: 16px 0;
}

.social-links {
    display: flex;
    justify-content: space-between;
}

section h3 {
    margin-bottom: 16px;
}